
asa{background: #38569f;}


.containerEdirInfo {
	position: absolute;
	top: 50%;
	left: 30%;
	width:500px;
    text-align:center;
    margin-bottom:200px;
}




.formLogin h1{
	margin: 0 0 20px;
	color: #ffffff;
	font-size:30px;
	text-transform: uppercase;
}
.EditInfoStyle label{
	margin-left:10px;
	
}
.EditInfoStyle input{
	display: block;
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	border-radius: 15px;
	outline: none;
	font-size: 14px;
	letter-spacing: 1px;
    border: 1px solid #888;
	color:#89888a;
	background: rgba(255,255,255,.5);
}


.EditInfoStyle input[type="submit"]{
	color: #fff;
	background: #b0a339;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;

}
.EditInfoStyle input[type="submit"]:hover {
		background: #9e9445;
}
.EditInfoStyle input::placeholder{
	color:#ceced1;
}
.user {
	margin: 0 0 20px;
	color: #ffffff;
	font-size:30px;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 10px 60px;
	transition: .5s;	
}
.user:hover {
	background: rgba(255,255,255,.1);
	box-shadow: 0 0 20px rgba(0,0,0,.2);
}



/* Add padding BETWEEN each column (if you want) */
.row1,
.row1 > .column1 {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column1 {
    float: left;
    width: 25%;
    
}
/* Clear floats after rows */ 
.row1:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content1 {
    padding: 10px;
    text-align: center;
    background-color:;
        outline: 2px solid white;

    
}
.content1:hover{
    outline: 2px solid #cacaca;
}


.main1{
    margin-left: 0px;
    text-align:center;
    height: 100%;
}

    #box {
    
    width: 900px;
    border: 2px solid white;
    padding: 23px;
    margin: 25px;
    background-color:#f0f0f0;
 /*    margin-left: 90px; */
   
}

.bb{
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin: 2%;
   
}



.b1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.b1:hover {
    background-color: #555555;
    color: white;
}


.img-wrap img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.img-wrap {
  width: 200px;
  height: 150px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}